Sampler.xcodeproj/project.xcworkspace/xcuserdata/nikitakardakov.xcuserdatad/UserInterfaceState.xcuserstate
Sampler.xcodeproj/xcuserdata/nikitakardakov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Sampler.xcodeproj/xcuserdata/nikitakardakov.xcuserdatad/xcschemes/xcschememanagement.plist
